body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a:link {
    color: blue;
}

a:visted {
    color: purple;
}

a:hover {
    border-bottom: 1px solid black;
}

.select_multiple {}
