<html>

<head>
    <title>Chat App: {{ room }}</title>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
    let socket;
    socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
    socket.on('connect', function() {
        socket.emit('joined', {});
    });

    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById("chat-'{{room}}'").scrollTop = document.getElementById("chat-'{{room}}'").scrollHeight
        socket.on('status', function(data) {
            document.getElementById("chat-'{{room}}'").innerHTML += data.msg + '\n';
            //document.getElementById("chat-'{{room}}'").scrollTop = document.getElementById("chat-'{{room}}'").scrollHeight
        });
        socket.on('message', function(data) {
            document.getElementById("chat-'{{room}}'").innerHTML += data.msg + '\n';
            //document.getElementById("chat-'{{room}}'").scrollTop = document.getElementById("chat-'{{room}}'").scrollHeight
        });

        document.onkeydown = function(e) {
            let code = e.keyCode;
            if (code == 13) {
                text = document.getElementById("text").value;
                console.log("text", text);
                document.getElementById("text").value = "";
                socket.emit('text', {
                    msg: text
                });
            }
        };
    });

    function leave_room() {
        socket.emit('left', {}, function() {
            socket.disconnect();

            window.location.href = "{{ url_for('.index') }}";
        });
    }
    </script>
</head>

<body>
    <h1>Chat App: {{ room }}</h1>
    <textarea id="chat-'{{room}}'" cols="80" rows="25" disabled></textarea>
    {% for i in history %}
    <script>
    document.getElementById("chat-'{{room}}'").innerHTML += "{{ i }}" + "\n"
    </script>
    {% endfor %}
    <br>
    <br>
    <input id="text" size="70" placeholder="Enter your message here" autofocus="">
    <br>
    <a href="#" onclick="leave_room();">Leave this room</a>
    <br>
    <br>
    <h4> Switch room </h4>
    <form action="{{url_for('.index')}}" method="POST">
        <label>Select :</label>
        <select name="room" size=5 STYLE="width: 300px">
            {% for i in rooms %}
            <option value="{{ i }}" {% if loop.first %} SELECTED {% endif %}>{{ i }}</option>
            <script>
            console.log("{{i}}");
            </script>
            {% endfor %}
            <br> {{ form.submit() }}
        </select>
    </form>
</body>

</html>
