<html>

<head>
    <title> Chat App - Create Room </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/bulma.css') }}" media="all"></link>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}"></link>
</head>

<body>
    <h4> Create Room </h4>
    <form action="" method="POST">
        <label class="label">Enter Room Name</label>
        <input class="input" type="text" placeholder="Room Name" name="room" value="{{request.form.room}}">
        <br>
        <br>
        <label class="label"> Select members </label>
        <br>
        <select class="select is-medium" multiple name="users" size=5 STYLE="width: 300px ">
            {% for i in users %}
            <option value="{{ i }}" {% if loop.first %} SELECTED {% endif %}>{{ i }}</option>
            {% endfor %}
            <br>
        </select>
        <br>
        <button class="button is-primary" type="submit">Create</button>
    </form>
</body>

</html>
