<html>

<head>
    <title>Chat App - Home</title>
</head>

<body>
    <h1>Select Room</h1>
    <form action="" method="POST">
        <br>
        <label>Select :</label>
        <select name="room" size=5 STYLE="width: 300px">
            {% for i in rooms %}
            <option value="{{ i }}" {% if loop.first %} SELECTED {% endif %}>{{ i }}</option>
            <script>
            console.log("{{i}}");
            </script>
            {% endfor %}
            <br> {{ form.submit() }}
    </form>
    <br>
    <a href="{{url_for('main.logout')}}" "> Logout </a> 
</body>

</html>
