<h4 class="title is-4" STYLE="color: #555">Private Chat</h4>
<form name="privateForm" action="" method="POST">
    <input class="input" type="hidden" name="private" value="true">
    <label class="label ">Select User</label>
    <br>
    <select class="select is-medium" name="room" multiple size=5 STYLE="width:600px;
    height:200px">
        {% for i in users %}
        <option value="{{i}}" {% if loop.first %} SELECTED {% endif %}>{{ i }}</option>
        {% endfor %}
        <br>
    </select>
    <input class='button is-primary' type='submit' value='Chat' STYLE="float:right">
</form>
