<html>

<head>
    <title>Chat App - Register</title>
</head>

<body>
    <div class="container">
        <h4> Register</h4>
        <br>
        <form action="" method="POST">
            <input type="text" placeholder="Username" name="name" value="{{request.form.name}}"> {% if error %} Username is already taken! {% endif %}
            <input type="password" placeholder="Password" name="password" value="{{request.form.password}}">
            <input type="password" placeholder="Confirm Password" name="{{request.form.confirm}}">
            <input type="submit" value="Submit">
        </form>
    </div>
</body>

</html>
