<html>

<head>
    <title>Chat App - Register</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/bulma.css') }}"
        media="all"></link>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}"></link>
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
    {% for category, message in messages %}
    <div class="isa_{{category}}">{{ message }}</div>
    {% endfor %} {% endif %} {% endwith %}
    <div class="container">
        <h4> Register</h4>
        <br>
        <form action="" method="POST">
            <input class="input" type="text" placeholder="Username" name="name" value="{{request.form.name}}">
            <input class="input" required type="password" placeholder="Password" name="password"
                value="{{request.form.password}}">
            <br>
            <br>
            <input class="button is-primary" type="submit" value="Submit">
        </form>
    </div>
</body>

</html>
